<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchProjectDetails</servlet-name>
        <servlet-class>FetchProjectDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProject</servlet-name>
        <servlet-class>addProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchProjects</servlet-name>
        <servlet-class>fetchProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProject</servlet-name>
        <servlet-class>createProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProject</servlet-name>
        <servlet-class>deleteProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProject</servlet-name>
        <servlet-class>updateProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>projectDetailsSingle</servlet-name>
        <servlet-class>projectDetailsSingle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createActivity</servlet-name>
        <servlet-class>createActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchActivity</servlet-name>
        <servlet-class>fetchActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchActivities</servlet-name>
        <servlet-class>fetchActivities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteActivity</servlet-name>
        <servlet-class>deleteActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateActivity</servlet-name>
        <servlet-class>updateActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editActivityServlet</servlet-name>
        <servlet-class>editActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchSolution</servlet-name>
        <servlet-class>fetchSolution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchIndividualActivity</servlet-name>
        <servlet-class>fetchIndividualActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchActivitiesForUser</servlet-name>
        <servlet-class>fetchActivitiesForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTiming</servlet-name>
        <servlet-class>updateTiming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>endActivityTiming</servlet-name>
        <servlet-class>endActivityTiming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportDataServlet</servlet-name>
        <servlet-class>exportDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addChallenge</servlet-name>
        <servlet-class>addChallenge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSolution</servlet-name>
        <servlet-class>addSolution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>updateProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchProjectDetails</servlet-name>
        <url-pattern>/FetchProjectDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProject</servlet-name>
        <url-pattern>/addProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchProjects</servlet-name>
        <url-pattern>/fetchProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProject</servlet-name>
        <url-pattern>/createProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProject</servlet-name>
        <url-pattern>/deleteProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProject</servlet-name>
        <url-pattern>/updateProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>projectDetailsSingle</servlet-name>
        <url-pattern>/projectDetailsSingle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createActivity</servlet-name>
        <url-pattern>/createActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchActivity</servlet-name>
        <url-pattern>/fetchActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchActivities</servlet-name>
        <url-pattern>/fetchActivities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteActivity</servlet-name>
        <url-pattern>/deleteActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateActivity</servlet-name>
        <url-pattern>/updateActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editActivityServlet</servlet-name>
        <url-pattern>/editActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchSolution</servlet-name>
        <url-pattern>/fetchSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchIndividualActivity</servlet-name>
        <url-pattern>/fetchIndividualActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchActivitiesForUser</servlet-name>
        <url-pattern>/fetchActivitiesForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTiming</servlet-name>
        <url-pattern>/updateTiming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>endActivityTiming</servlet-name>
        <url-pattern>/endActivityTiming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportDataServlet</servlet-name>
        <url-pattern>/exportDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addChallenge</servlet-name>
        <url-pattern>/addChallenge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSolution</servlet-name>
        <url-pattern>/addSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
